<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htb2y.filemanagement.mapper.FmcFileManageInfoMapper">
  <resultMap id="BaseResultMap" type="com.htb2y.filemanagement.bean.entity.FmcFileManageInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="UPLOAD_NAME" jdbcType="VARCHAR" property="uploadName" />
    <result column="UPLOAD_URL" jdbcType="VARCHAR" property="uploadUrl" />
    <result column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <result column="FILE_SIZE" jdbcType="DECIMAL" property="fileSize" />
    <result column="UPLOAD_TIME" jdbcType="DECIMAL" property="uploadTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="FILE_VERSION" jdbcType="DECIMAL" property="fileVersion" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from FMC_FILE_MANAGE_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.htb2y.filemanagement.bean.entity.FmcFileManageInfo">
    insert into FMC_FILE_MANAGE_INFO ((select sys_guid() from dual), FILE_NAME, UPLOAD_NAME,
      UPLOAD_URL, CHANNEL, FILE_SIZE, 
      UPLOAD_TIME, CREATE_TIME, CREATE_USER, 
      UPDATE_TIME, UPDATE_USER, FILE_VERSION
      )
    values (#{id,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{uploadName,jdbcType=VARCHAR}, 
      #{uploadUrl,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{fileSize,jdbcType=DECIMAL}, 
      #{uploadTime,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{fileVersion,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.htb2y.filemanagement.bean.entity.FmcFileManageInfo">
    update FMC_FILE_MANAGE_INFO
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      UPLOAD_NAME = #{uploadName,jdbcType=VARCHAR},
      UPLOAD_URL = #{uploadUrl,jdbcType=VARCHAR},
      CHANNEL = #{channel,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      UPLOAD_TIME = #{uploadTime,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      FILE_VERSION = #{fileVersion,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, FILE_NAME, UPLOAD_NAME, UPLOAD_URL, CHANNEL, FILE_SIZE, UPLOAD_TIME, CREATE_TIME, 
    CREATE_USER, UPDATE_TIME, UPDATE_USER, FILE_VERSION
    from FMC_FILE_MANAGE_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, FILE_NAME, UPLOAD_NAME, UPLOAD_URL, CHANNEL, FILE_SIZE, UPLOAD_TIME, CREATE_TIME, 
    CREATE_USER, UPDATE_TIME, UPDATE_USER, FILE_VERSION
    from FMC_FILE_MANAGE_INFO
  </select>
</mapper>